import { test as base } from '@playwright/test';
import path from 'path';

export const test = base.extend({
  storageState: path.join(__dirname, '{{AUTH_STATE_FILE}}'),
});

export { expect } from '@playwright/test';
